.user > img {
  width: 400px;
  border-radius: 16px;
}

.user {
  background: linear-gradient(rgba(14, 82, 84, .95), rgba(14, 82, 84, .95)), url(./assets/flowerBackground.png);
  background-repeat: repeat;
  height: calc(100dvh - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}